body {
  margin: 0;
  font-family: Arial;
  background: #0d0d0d;
  color: white;
}

.container {
  text-align: center;
  margin-top: 150px;
}

button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #1f1f1f;
  color: white;
}

#app {
  display: none;
}

.topbar {
  background: #111;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

#chat {
  height: 400px;
  overflow-y: auto;
  padding: 15px;
}

.message {
  margin: 5px 0;
}

.send-box {
  display: flex;
  padding: 10px;
  background: #111;
}

.send-box input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.send-box button {
  margin-left: 10px;
}
